* {
  margin: 0;
  font-family: Arial;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > * {
    flex-basis: 100%;
  }
}

.container {
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
}

.product {
  .product-title {
    margin-bottom: 13px;
    font-size: 14px;
  }

  .product-description {
    font-size: 11px;
    margin-bottom: 1px;
  }

  .product-color {
    font-size: 11px;
  }
}

.btn-action {
  margin-top: auto;
  background: initial;
  display: flex;
  width: 148px;
  height: 31px;
  padding: 0 10px 0 9px;
  text-align: left;

  .arrow-right {
    margin: auto 0 auto 42px;
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #555555;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #555555;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #555555;
}