.best-seller-section {
  height: 381px;
  position: relative;
  background: white;
  .arrow {
    position: absolute;
    top: 55%;
    z-index: 2;
    &.left {
      left: 200px;
    }
    &.right {
      right: 200px;
    }
  }
  .best-seller-content {
    .best-seller-title {
      font-size: 24px;
    }
    .best-seller-select {
      position: relative;
      #label-filter {
        font-size: 14px;
      }
      #filter {
        margin-left: 6px;
        width: 115px;
        height: 32px;
        box-shadow: 1.5px 1px 0px rgba(0,0,0,0.15);
        border: 1px solid #a5a5a5;
        text-indent: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance:none;
      }
      .icon-filter {
        position: absolute;
        top: 12px;
        right: 10px;
        width: 10px;
        height: 10px;
      }
    }

    .best-seller-header {
      padding-top: 3.125rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .best-seller-list {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      .product:first-child {
        margin-left: 0px;
      }
      .product {
        flex-direction: column;
        margin-left: 6px;
        width: 180px;
        background-color: #e6e6e6;
        color: #555555;
        z-index: 5;
        .product-img-background {
          height: 105px;
          display: flex;
          .product-img {
            width: 144px;
            height: 88px;
            margin: auto;
          }
        }
        .product-background {
          position: relative;
          height: 115px;
          background-color: #efefef;
          .product-title {
            padding: 15px 0 0 15px;
            font-size: 16px;
            max-width: 140px;
            margin-bottom: 10px;
          }
          .product-description {
            padding-left: 15px;
          }
          .product-footer {
            bottom: 0;
            position: absolute;
            width: 100%;
            .out-stock, .in-stock {
              padding-bottom: 6px;
              font-size: 11px;
              font-weight: bold;
              text-align: right;
              margin-right: 10px;
            }
            .out-stock-bar, .in-stock-bar {
              height: 4px;
            }
            .out-stock {
              color: #ff3f0c;
            }
            .out-stock-bar {
              background-color: #ff3f0c;
            }
            .in-stock {
              color: #d6d6d6;
            }
            .in-stock-bar {
              background-color: #d6d6d6;
            }
          }
        }
      }
    }
  }
}

.best-seller-section::after {
  content: '';
  transform: skewY(3.11rad);
  width: 100%;
  height: 200px;
  margin-top: -120px;
  position: absolute;
  background-color: white;
}
