.hero-section {
  position: relative;
  height: 500px;
  background-color: #009f55;
  .hero-content {
    padding-top: 9.375rem;
    height: 300px;
    .product {
      height: 100%;
      display: flex;
      flex-direction: column;
      .btn-action {
        border: 1px solid white;
        color: white;
        z-index: 2;
      }
      .product-img {
        position: absolute;
        height: 671px;
        width: 1066px;
        margin-top: 9px;
        margin-left: -78px;
      }
    }
    p, h3 {
      color: white;
    }
  }
}