.products-section {
  position: relative;
  background: white;
  color: #555555;
  .products-content {
    .products-title {
      font-size: 24px;
    }
    .products-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .input-select {
        width: 113px;
        border-color: #A6A6A6;
        color: #555555;
      }
    }
    .products-list {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      .product:first-child {
        margin-left: 0px;
      }
      .product {
        flex-direction: column;
        margin-left: 6px;
        width: 180px;
        background-color: #e6e6e6;
        z-index: 5;
        a {
          color: #555555;
        }
        .product-img-background {
          height: 105px;
          display: flex;
          .product-img {
            width: 144px;
            height: 88px;
            margin: auto;
          }
        }
        .product-background {
          position: relative;
          height: 115px;
          background-color: #efefef;
          .product-title {
            padding: 13px 0 0 14px;
            margin-right: 0;
            font-size: 16px;
            max-width: 140px;
            margin-bottom: 8px;
            overflow: hidden;
          }
          .product-description {
            padding: 0 15px 0 15px;
            overflow: hidden;
          }
          .product-footer {
            bottom: 0;
            position: absolute;
            width: 100%;
            .out-stock, .in-stock {
              padding-bottom: 4px;
              font-size: 11px;
              font-weight: bold;
              text-align: right;
              margin-right: 9.7px;
            }
            .out-stock-bar, .in-stock-bar {
              height: 4px;
            }
            .out-stock {
              color: #ff3f0c;
            }
            .out-stock-bar {
              background-color: #ff3f0c;
            }
            .in-stock {
              color: #d6d6d6;
            }
            .in-stock-bar {
              background-color: #d6d6d6;
            }
          }
        }
      }
    }
  }
}