.sales-section {
    background-color: #FF3F0C;
    height: 520px;
    color: white;
    .sales-content {
        padding-top: 47.8px;
        .sales-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 43px;
            .sales-title {
                font-size: 14px;
                font-weight: bold;
            }
            .sales-selects {
                position: relative;
                display: flex;
                flex-direction: row;
                .input-select {
                    width: 120px;
                    border-color: white;
                    color: white;
                    background: inherit;
                }
                #model-select {
                    margin-right: 29px;
                }
            }
        }
        #schema {
            width: 100%;
            margin-bottom: 100px;
        }
    }
}

.sales-section::after {
    content: '';
    transform: skewY(0.026rad);
    width: 100%;
    height: 130px;
    position: absolute;
    margin-top: -60px;
    background-color: white;
}